<ng-container *ngIf="toc; else noChs">
  <ul class="v-list full" *ngIf="toc.indexes.length > 0; else noChs">
    <li *ngFor="let i of tocPage">
      <a class="ch l l-inner" routerLink="/novel/{{ novelID }}/{{ toc.toc[i].id }}">
        <div class="ch-i">{{ displayIndex(i) }}</div>
        <div class="ch-c">
          <div class="l-dec">{{ toc.toc[i].title }}</div>
          <div class="small" *ngIf="toc.toc[i].createdAt">{{ toc.toc[i].createdAt?.toMillis() | date }}</div>
        </div>
      </a>
    </li>
  </ul>
  <mat-paginator *ngIf="pagination"
                 [length]="toc.indexes.length"
                 [pageSize]="limit"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 (page)="prepareTocPage($event)"></mat-paginator>
</ng-container>
<ng-template #noChs>
  <p class="nodata">No chapters released yet</p>
</ng-template>
