.inputfile {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
  z-index: -1;
}

label {
  display: inline-block;
  cursor: pointer;

  & * {
    pointer-events: none;
  }

  &:hover {
    color: --color-primary;
  }
}

.inputfile:focus + label,
.inputfile.has-focus + label {
  outline: 1px dotted #333;
  outline: 1px dotted --color-primary;
	outline: -webkit-focus-ring-color auto 5px;
}

span {
  margin-left: .5em;
}

.inputfile-preview {
  ul {
    list-style: none;
  }
  img {
    width: 7rem;
  }
}
