@import "~@angular/material/theming";

$basic-searchbar-typography: mat-typography-config( //
  // Line-height must be unit-less fraction of the font-size.
  $input: mat-typography-level(14px, 1, normal) //
);
@include mat-form-field-typography($basic-searchbar-typography);

.mat-search-field {
  width: 200px;
}
