<mat-form-field class="mat-search-field" [@slideInOut]="searchVisible" floatLabel="never">
  <input #input matInput mat-menu-item type="search" placeholder="Search..."
         [(ngModel)]="value" (ngModelChange)="updateChanges()" (blur)="onBlurring(input.value)"
         (keyup.enter)="onEnterring(input.value)" (focus)="onFocussing(input.value)">
  <button class="smaller" mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchVisible"
          (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<button mat-icon-button (click)="!searchVisible ? open(): search();">
  <mat-icon class="mat-search_icon-search">search</mat-icon>
</button>
