<section *ngIf="user | async as userData">
  <app-profile-header [user]="userData"></app-profile-header>

  <div fxLayout="row" fxLayoutGap="1em" id="profile-tabs">

    <app-profile-nav [navId]="userData.uid" ngClass.xs="hidden" fxFlex="initial"></app-profile-nav>
    <div id="profile-nav"> </div>

    <div fxFlex fxLayout="column" style="overflow: hidden;">

      <mat-toolbar class="mat-elevation-z1">
        <span>Novels</span>
      </mat-toolbar>

      <app-p-novels [uid]="userData.uid"></app-p-novels>

    </div>

  </div>
</section>
