<section *ngIf="user | async as userData">
  <app-profile-header [user]="userData"></app-profile-header>

  <div fxLayout="row" fxLayoutGap="1em" id="profile-tabs">

    <app-profile-nav [navId]="navId" ngClass.xs="hidden" fxFlex="initial"></app-profile-nav>
    <div id="profile-nav"> </div>

    <div fxFlex fxLayout="column" style="overflow: hidden;">

      <mat-toolbar class="mat-elevation-z1">
        <span>User's Favorites</span>
      </mat-toolbar>
      <div>
        <ul>
          <li>Book 1</li>
        </ul>
      </div>
    </div>

  </div>
</section>
