@import 'src/assets/styles/variables';

.rating-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rate-btn {
  font-size: inherit;
  line-height: 1em;
  height: 1em;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;

  &.selected {
    color: #cea800;
  }

  &.clear {
    font-size: 0.6em;
    margin-left: .5em;
    height: 1em;
    opacity: .75;

    &:hover {
      text-decoration: underline;
    }
  }

}
