:host {
  font-size: 1rem;
}

.wrapper {
  max-width: 15em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

.avatar-size {
  font-size: 2.6em;
  width: 1em !important;
  height: 1em !important;

  mat-icon {
    vertical-align: middle;
    line-height: 1em;
    margin: -8px 0;
  }
}

.full-width {
  width: 100%;
  min-width: 150px;
  max-width: 500px;
}

button mat-spinner {
  display: inline-block;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  margin-top: 0.5em;
  background: transparent !important;
  height: auto !important;

  button,
  a {
    line-height: 2em !important;
  }
}

#providers {
  margin-top: 1em;

  button {
    margin-top: 0.5em;
    color: white;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .btn-p-google {
    background: red;
  }

  .btn-p-fb {
    background: blue;
  }
}

.terms {
  a {
    padding-left: 0;
    padding-right: 0;
    min-width: unset;
  }
}
