<mat-card class="wrapper">

  <mat-card-header>
    <a class="avatar-size" mat-card-avatar mat-mini-fab color="warm" routerLink="/login">
      <mat-icon [inline]="true">arrow_back</mat-icon>
    </a>

    <mat-card-title>Register</mat-card-title>
    <mat-card-subtitle>Create a new account</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>

    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div>
        <mat-form-field class="full-width">
          <input type="text" matInput placeholder="Display name" required formControlName="name">
          <button mat-button *ngIf="f['name'].value" matSuffix mat-icon-button aria-label="Clear"
                  (click)="f['name'].reset()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="f['name'].hasError('required')">
            Display name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width">
          <input type="email" matInput placeholder="E-mail" required formControlName="email">
          <button mat-button *ngIf="f['email'].value" matSuffix mat-icon-button aria-label="Clear"
                  (click)="f['email'].reset()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="f['email'].hasError('email') && !f['email'].hasError('required')">
            Please enter a valid e-mail address
          </mat-error>
          <mat-error *ngIf="f['email'].hasError('required')">
            E-mail is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width">
          <input type="password" matInput placeholder="Password" required formControlName="password">
          <button mat-button *ngIf="f['password'].value" matSuffix mat-icon-button aria-label="Clear"
                  (click)="f['password'].reset()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="f['password'].hasError('minlength') && !f['password'].hasError('required')">Password must be
            at
            least <strong>6 characters</strong> long</mat-error>
          <mat-error *ngIf="f['password'].hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width">
          <input type="password" matInput placeholder="Confirm password" required formControlName="confirm">
          <button mat-button *ngIf="f['confirm'].value" matSuffix mat-icon-button aria-label="Clear"
                  (click)="f['confirm'].reset()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="f['confirm'].hasError('mustmatch') && !f['confirm'].hasError('required')">
            Passwords <strong>must match</strong>
          </mat-error>
          <mat-error *ngIf="f['confirm'].hasError('required')">
            Password confirmation is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="terms">
        <mat-checkbox name="acceptTerms" formControlName="acceptTerms">
          I agree to the <a routerLink="/terms" class="mat-button mat-primary">terms.</a>
        </mat-checkbox>
      </div>
      <mat-toolbar>
        <button [disabled]="loading" mat-flat-button color="primary">
          <mat-spinner *ngIf="loading" [diameter]="15"></mat-spinner>
          Register
        </button>
        <span class="spacer"></span>
        <a mat-stroked-button routerLink="/login" class="btn btn-link">Cancel</a>
      </mat-toolbar>
    </form>

  </mat-card-content>
</mat-card>
