<div class="container" *ngIf="novels$ | async as novels; else noNovels">
  <ul class="v-list" *ngIf="novels.length > 0; else noNovels">
    <li *ngFor="let novel of novels; let last = last">
      <div fxLayout="row" fxLayoutAlign="start start" fxLayout.xs="column">
        <div>
          <img class="cover-img" [src]="coverURL(novel.cover, novel.id)">
        </div>

        <div>
          <a class="l" routerLink="/workshop/novel/{{ novel.id }}">
            <h2>{{ novel.title }}</h2>
          </a>
          <div [innerHTML]="novel.description">

          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<ng-template #noNovels>
  <p class="nodata">No novels created yet...</p>
</ng-template>
