<section>
  <div class="container full" fxLayout="row" fxLayout.xs="column">

    <!--<div fxFlex="none">
      <mat-nav-list>
        <mat-list-item>
          Novels
        </mat-list-item>
        <mat-list-item>
          Reviews
        </mat-list-item>
      </mat-nav-list>
    </div>-->

    <div fxFlex>
      <section>
        <h1>Workshop</h1>
      </section>

      <section id="novels">

        <mat-toolbar class="mat-elevation-z1">
          <span>Novels</span>
          <a mat-stroked-button routerLink="/workshop/novel-add">
            <mat-icon>add_circle_outline</mat-icon>
            <span>Add</span>
          </a>
        </mat-toolbar>

        <div *ngIf="novels$ | async as novels; else noNovels">
          <ul class="v-list" *ngIf="novels.length > 0; else noNovels">
            <li *ngFor="let novel of novels; let last = last">
              <div fxLayout="row" fxLayoutAlign="start start" fxLayout.xs="column">
                <div>
                  <img class="cover-img" [src]="coverURL(novel.cover, novel.id)">
                </div>

                <div class="full">
                  <a class="l" routerLink="/workshop/novel/{{ novel.id }}">
                    <h2>{{ novel.title }}</h2>
                  </a>
                  <div class="full" [innerHTML]="novel.description" appMinimizeBtn minimizedMaxHeight="10em">

                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <ng-template #noNovels>
          <p class="nodata">You have no novels...</p>
        </ng-template>
      </section>
    </div>

  </div>
</section>
