@import '~@angular/material/theming';

.container {
    width: 100%;
    height: auto;
    padding: 2em 1em 0 1em;
}
#novels {
  ul {
    align-items: flex-end;
    margin-top: 0em;
  }
  li {
    width: 100%;
    padding: 1em 0 .7em 0;
  }
}

