@import '~@angular/material/theming';

.container {
    width: 100%;
    height: auto;
    padding: 2em 1em 0 1em;
}
#novels {
  ul {
    align-items: flex-end;
    margin-top: 0em;
  }
  li {
    width: 100%;
    padding: 1em 0 .7em 0;

    h2 {
      text-align: left;
    }
  }
  .not-published {
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
    filter: grayscale(0.8) brightness(0.5);
  }
}
.cover-img {
  width: 10rem;
  margin: 0 .7rem 0 0;
  font-size: 0;
  line-height: 0;
}
