<div class="container" fxLayout="row" fxLayout.xs="column">

  <div fxFlex="none">
    <mat-nav-list>
      <mat-list-item>
        test
      </mat-list-item>
      <mat-list-item>
        test 2
      </mat-list-item>
    </mat-nav-list>
  </div>

  <div fxFlex>
    <section>
      <h1>Workshop</h1>
    </section>
    <section id="novels">
      <mat-toolbar class="mat-elevation-z1">
        <span>Novels</span>
        <a mat-stroked-button routerLink="/workshop/novel-add">
          <mat-icon>add_circle_outline</mat-icon>
          <span>Add</span>
        </a>
      </mat-toolbar>
      <div class="center">
        <ul class="horizontal-list fixed">

          <li>
            <mat-card>
              <mat-card-title>Mikayla the Dungeon, with a longer title for the lolz</mat-card-title>
              <img mat-card-image src="/assets/img/novels/01/cover.jpg">
              <mat-card-content>
                Chapter 1321/9999
              </mat-card-content>
            </mat-card>
          </li>
          <li>
            <mat-card class="not-published">
              <mat-card-title>Mikayla the Dungeon</mat-card-title>
              <img mat-card-image src="/assets/img/novels/01/cover.jpg">
              <mat-card-content>
                Chapter 1321/9999
              </mat-card-content>
            </mat-card>
          </li>
          <li>
            <mat-card>
              <mat-card-title>Mikayla the Dungeon, with a longer title for the lolz</mat-card-title>
              <img mat-card-image src="/assets/img/novels/01/cover.jpg">
              <mat-card-content>
                Chapter 1321/9999
              </mat-card-content>
            </mat-card>
          </li>
          <li>
            <mat-card>
              <mat-card-title>Mikayla the Dungeon, with a longer title for the lolz</mat-card-title>
              <img mat-card-image src="/assets/img/novels/01/cover.jpg">
              <mat-card-content>
                Chapter 1321/9999
              </mat-card-content>
            </mat-card>
          </li>
          <li>
            <mat-card>
              <mat-card-title>Mikayla the Dungeon, with a longer title for the lolz</mat-card-title>
              <img mat-card-image src="/assets/img/novels/01/cover.jpg">
              <mat-card-content>
                Chapter 1321/9999
              </mat-card-content>
            </mat-card>
          </li>
          <li>
            <mat-card>
              <mat-card-title>Mikayla the Dungeon, with a longer title for the lolz</mat-card-title>
              <img mat-card-image src="/assets/img/novels/01/cover.jpg">
              <mat-card-content>
                Chapter 1321/9999
              </mat-card-content>
            </mat-card>
          </li>
          <li>
            <mat-card>
              <mat-card-title>Mikayla the Dungeon, with a longer title for the lolz</mat-card-title>
              <img mat-card-image src="/assets/img/novels/01/cover.jpg">
              <mat-card-content>
                Chapter 1321/9999
              </mat-card-content>
            </mat-card>
          </li>
          <li>
            <mat-card>
              <mat-card-title>Mikayla the Dungeon, with a longer title for the lolz</mat-card-title>
              <img mat-card-image src="/assets/img/novels/01/cover.jpg">
              <mat-card-content>
                Chapter 1321/9999
              </mat-card-content>
            </mat-card>
          </li>
          <li>
            <mat-card>
              <mat-card-title>Mikayla the Dungeon, with a longer title for the lolz</mat-card-title>
              <img mat-card-image src="/assets/img/novels/01/cover.jpg">
              <mat-card-content>
                Chapter 1321/9999
              </mat-card-content>
            </mat-card>
          </li>
          <li>
            <mat-card>
              <mat-card-title>Mikayla the Dungeon, with a longer title for the lolz</mat-card-title>
              <img mat-card-image src="/assets/img/novels/01/cover.jpg">
              <mat-card-content>
                Chapter 1321/9999
              </mat-card-content>
            </mat-card>
          </li>
          <li>
            <mat-card>
              <mat-card-title>Mikayla the Dungeon, with a longer title for the lolz</mat-card-title>
              <img mat-card-image src="/assets/img/novels/01/cover.jpg">
              <mat-card-content>
                Chapter 1321/9999
              </mat-card-content>
            </mat-card>
          </li>
          <li>
            <mat-card>
              <mat-card-title>Mikayla the Dungeon, with a longer title for the lolz</mat-card-title>
              <img mat-card-image src="/assets/img/novels/01/cover.jpg">
              <mat-card-content>
                Chapter 1321/9999
              </mat-card-content>
            </mat-card>
          </li>
          <li>
            <mat-card>
              <mat-card-title>Mikayla the Dungeon, with a longer title for the lolz</mat-card-title>
              <img mat-card-image src="/assets/img/novels/01/cover.jpg">
              <mat-card-content>
                Chapter 1321/9999
              </mat-card-content>
            </mat-card>
          </li>
          <li>
            <mat-card>
              <mat-card-title>Mikayla the Dungeon, with a longer title for the lolz</mat-card-title>
              <img mat-card-image src="/assets/img/novels/01/cover.jpg">
              <mat-card-content>
                Chapter 1321/9999
              </mat-card-content>
            </mat-card>
          </li>
        </ul>
      </div>
    </section>
  </div>

</div>
