<app-header (sidenavToggle)="toggleSidenav()"></app-header>

<mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 64" autosize>
  <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="sideOpen" role="navigation"
               fixedInViewport fixedTopGap="{{mobileQuery.matches ? 56 : 64}}">

    <app-sidenav></app-sidenav>

  </mat-sidenav>

  <mat-sidenav-content>
    <main>
      <app-shortcuts></app-shortcuts>
      <router-outlet></router-outlet>
    </main>

    <app-footer></app-footer>

  </mat-sidenav-content>
</mat-sidenav-container>
