<mat-form-field class="full">
  <mat-chip-list #tagsList aria-label="Tags selection" multiple selectable [formControl]="tagsCtrl">
    <mat-chip color="primary" selected removable
              *ngFor="let tag of tagsCtrl.value"
              (removed)="remove(tag)">
      {{ tag }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
           placeholder="Tags"
           #tagInput
           [matChipInputFor]="tagsList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-error *ngIf="tagsCtrl.hasError('required')">
    At least one tag is <strong>required</strong>
  </mat-error>
  <mat-hint>
    Use space, enter, comma, or semicolon as separator.
  </mat-hint>
</mat-form-field>
