.rev-wrap {
  margin: .5rem;
}
.rev-head {
  font-size: 1rem;
  line-height: 1.4em;
  margin: 1em 0 .6em 0;
  h2 {
    font-size: .7em;
    line-height: 1.2em;
    margin: 0;
    opacity: .6;
  }
  h1 {
    font-size: 1.3em;
    line-height: 1.4em;
    margin: 0;
  }
}
.rev-quote {
  font-size: .75rem;
  padding: 0 2em;
  opacity: .8;
}
