@import '~@angular/material/theming';

ul.h-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));

    &.dynamic {
      display: flex;
      flex-flow: row wrap;
    }
}
