app-root {

  main>* {
    &>* {
      max-width: 44rem;
      margin-left: auto !important;
      margin-right: auto !important;
      text-align: justify;
    }

    &>p,
    &>*>p {
      text-indent: 1em;
    }

    p {
      margin: 0.75em 0 0.75em 0 !important;
      &:first-of-type {
        margin-top: 0 !important;
      }
    }

    &>.full {
      max-width: 100%;
      border: none;
      text-indent: 0;
    }

    figure {
      background: #f3f3f3;
    }

    figcaption {
      text-align: center;
      color: #999;

      >p {
        margin: 0 !important;
      }

      padding: 5px 0;
      font-style: italic;
    }
  }
}
