.rot-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.icon-flipped {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}

.hidden {
  display: none;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.clean-link {
  text-decoration: inherit;
  color: inherit;
}
.clean-link:hover {
  text-decoration: underline;
}