@import 'shortcuts/cursors';
@import 'shortcuts/scale';
@import 'shortcuts/icons';

.hidden {
  display: none;
}
.center {
  margin: 0 auto;
  text-align: center;
}
.non-interactive .mat-chip-disabled{
  opacity: 1 !important;
}
.interactive {
  cursor: pointer !important;
}
.full {
  width: 100%;
}
.nodata {
  font-size: 1.2rem;
  padding: 2em;
}
.no-overflow {
  overflow: hidden;
}
.opaque {
  opacity: .6;
}
.inblock {
  display: inline-block;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
