ul.vertical-list {
  list-style-type: none;
  padding: 0;
  padding-bottom: 0.6rem;
  margin: 0;
  display: flex;
  flex-direction: column;

  li {
    margin: 0;
    border-top-style: solid;
    border-top-width: thin;

    &:first-child {
      border-top: none;
    }
  }

}
