ul.v-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;

  li {
    margin: 0;
    border-top-style: solid;
    border-top-width: thin;

    &:first-child {
      border-top: none;
    }
  }

}
