<button mat-icon-button fxLayout="column" fxLayoutAlign="center center" [matMenuTriggerFor]="acc">
  <mat-icon *ngIf="!user" class="icon-flipped">person_add</mat-icon>
  <mat-icon *ngIf="user">how_to_reg</mat-icon>
</button>
<mat-menu #acc="matMenu" xPosition="before">
  <div class="wider" *ngIf="user">
    <button mat-menu-item routerLink="/user/me">My profile</button>
    <!--<button mat-menu-item routerLink="/messager">Messages</button>-->
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/workshop">Workshop</button>
    <!--<button mat-menu-item routerLink="/user/settings">Settings</button>-->
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logout.emit()">Log out</button>
  </div>
  <div class="wider" *ngIf="!user">
    <button mat-menu-item routerLink="/login">Login</button>
    <button mat-menu-item routerLink="/register">Register</button>
    <!--<mat-divider></mat-divider>
    <button mat-menu-item routerLink="/user/settings">Settings</button>-->
  </div>
</mat-menu>
