:host {
  font-size: 1rem;
}
mat-icon {
  vertical-align: middle;
}
.novel-details {
  margin: 0 auto;
  padding: 2em 1em;

  h1 {
    margin: .5em 0 1em 0;
  }

  span {
    padding: 0.2em 0 0.2em 0;
  }
  .mat-button-base {
    padding: 0 0.5em 0 0.5em;
    min-width: 2em;
    margin-right: 0.3em;
    &:last-child {
      margin-right: 0;
    }
  }
}
.cover {
  max-width: 11em;
  min-width: 2em;
}
.actions {
  margin: 0 0 2em 0;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: flex-end;
}
.tab-icon {
  margin-right: 0.2em;
}
.dscr {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;

  button {
    margin-left: .3em;
  }
}
.glist {
  padding: 0;

  li {
    margin: 0 .5em 0 0;
  }
  .genre {
    font-size: 0.7rem;
    line-height: 1em;
    border-radius: 0.3em;
    padding: .4em .7em;
  }
}
.margin {
  margin: 1em 0;
}
