<section *ngIf="novel$ | async as novel">
  <div class="novel-details">
    <ul class="h-list dynamic glist">
      <li *ngFor="let genre of novel.genres" class="bckg-primary genre">{{ genre.name }}</li>
      <li>
        <button type="button" (click)="openEditGenres(novel.genres)"
                appBtn color="accent" label="Edit genres">
          <app-icon>edit</app-icon>
        </button>
      </li>
    </ul>

    <div>
      <h1>
        {{ novel.title }}
        <button type="button" (click)="openEditTitle(novel.title)"
                appBtn color="accent" label="Edit title">
          <app-icon inline>edit</app-icon>
        </button>
      </h1>
    </div>

    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutAlign.xs="start center" fxLayoutGap=".6em">

      <div class="cover" fxFlex fxLayout="column" fxLayoutAlign="start center" fxLayoutAlign.xs="start center" fxLayoutGap=".6em">
        <app-cover-reupload [cover]="novel.cover" [novelID]="novel.id"></app-cover-reupload>
        <!--<app-ratings [novel]="novel"></app-ratings>-->
      </div>

      <div fxFlex fxLayout="column" fxLayoutAlign="start stretch">

        <div class="dscr">
          <div class="full" [innerHTML]="novel.description" appMinimizeBtn minimizedMaxHeight="12em"></div>
          <button type="button" (click)="openEditDescription(novel.description)"
                  appBtn color="accent" label="Edit description">
            <app-icon inline>edit</app-icon>
          </button>
        </div>
        <div class="margin">
          <mat-slide-toggle [checked]="novel.public"
                            [disabled]="togglingPublic"
                            (change)="togglePublic(novel.public)">
            Published
          </mat-slide-toggle>
        </div>

        <div class="actions">
          <a mat-flat-button color="primary" matTooltip="Add a new chapter"
            routerLink="/workshop/novel/{{ novel.id }}/chapter-add">
            <mat-icon>add</mat-icon>
            Chapter
          </a>

          <a mat-stroked-button matTooltip="Permanently delete this novel"
            routerLink="/novel/{{ novel.id }}/chapter-add">
            <mat-icon>visibility</mat-icon>
            View
          </a>

          <button mat-flat-button color="warn" matTooltip="Permanently delete this novel"
                  (click)="deleteNovel(novel.public)">
            <mat-icon>delete_forever</mat-icon>
            Delete
          </button>
        </div>

        <div>
          <mat-chip-list aria-label="Selected tags" disabled class="non-interactive">
            <mat-chip *ngFor="let tag of novel.tags">
              {{ tag }}
              <mat-icon matChipRemove class="interactive" (click)="removeTag(tag)">cancel</mat-icon>
            </mat-chip>
            <button (click)="openEditTags(novel.tags)"
                    appBtn color="accent" label="Edit tags">
              <app-icon inline>edit</app-icon>
            </button>
          </mat-chip-list>
        </div>

      </div>

    </div>
  </div>
  <!--<app-full-statistic></app-full-statistic>-->
  <mat-tab-group mat-stretch-tabs dynamicHeight>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">toc</mat-icon>
        Chapters
      </ng-template>

      <app-chapters-work></app-chapters-work>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">grade</mat-icon>
        Reviews
      </ng-template>
      <div class="wrapper">
        <app-list-reviews [novelID]="novelID"></app-list-reviews>
      </div>
    </mat-tab>

  </mat-tab-group>
</section>
