<app-carousel class="full" [tabs]="tabs"></app-carousel>
<section class="bckg" fxLayout="column" fxLayoutAlign="center stretch">
  <div style="width: 100%; height: 1px"></div>

  <h1>Welcome, {{ currentUser ? currentUser.displayName : "Guest" }}!</h1>

  <p>In this application we are going to work with:</p>
</section>

<div class="bckg">
  <p>Kielbasa bacon boudin swine cow tri-tip shankle. Ham hock flank landjaeger porchetta, strip steak t-bone short loin
    beef chuck tri-tip kielbasa bresaola prosciutto hamburger bacon. Cow t-bone bresaola, swine ham bacon shankle ground
    round. Turkey pancetta sirloin, beef spare ribs boudin biltong pork frankfurter meatloaf jerky meatball bacon
    porchetta jowl.</p>
</div>

<figure class='full'>
  <div style="width: 100%; height: 300px; background: greenyellow"></div>
  <figcaption>Some text.</figcaption>
</figure>

<div class="bckg">
  <p>Kielbasa bacon boudin swine cow tri-tip shankle. Ham hock flank landjaeger porchetta, strip steak t-bone short loin
    beef chuck tri-tip kielbasa bresaola prosciutto hamburger bacon. Cow t-bone bresaola, swine ham bacon shankle ground
    round. Turkey pancetta sirloin, beef spare ribs boudin biltong pork frankfurter meatloaf jerky meatball bacon
    porchetta jowl.</p>

  <p>Kielbasa bacon boudin swine cow tri-tip shankle. Ham hock flank landjaeger porchetta, strip steak t-bone short loin
    beef chuck tri-tip kielbasa bresaola prosciutto hamburger bacon. Cow t-bone bresaola, swine ham bacon shankle ground
    round. Turkey pancetta sirloin, beef spare ribs boudin biltong pork frankfurter meatloaf jerky meatball bacon
    porchetta jowl.</p>

  <p>Kielbasa bacon boudin swine cow tri-tip shankle. Ham hock flank landjaeger porchetta, strip steak t-bone short loin
    beef chuck tri-tip kielbasa bresaola prosciutto hamburger bacon. Cow t-bone bresaola, swine ham bacon shankle ground
    round. Turkey pancetta sirloin, beef spare ribs boudin biltong pork frankfurter meatloaf jerky meatball bacon
    porchetta jowl.</p>
</div>
