@import "mixins";

$item-count: 4;
$circle-size: 160px;
$sec-btn-size: 24px;
$main-btn-size: 54px;

app-shortcuts {
  position: fixed;
  bottom: $sec-btn-size / 3 * 2;
  right: $sec-btn-size / 3 * 2 + 10px;
  z-index: 999;
}

.shortcuts {
  background: none !important;
  margin-bottom: -$circle-size / 2 + $sec-btn-size / 2;
  margin-right: -$circle-size / 2 + $sec-btn-size / 2;
  overflow: hidden !important;
  border-radius: 50% !important;

  .mat-menu-content {
    padding: 0 !important;

    .circle-container {
      @include on-circle($item-count, $circle-size, $sec-btn-size);
      position: relative;
      margin: $sec-btn-size / 4 * 3;

      >* {
        display: block;
        max-width: 100%;
        border-radius: 50%;
        //filter: grayscale(100%);
        transition: .15s;

        &:hover,
        &:active {
          filter: grayscale(0);
        }
      }

    }

  }

}
