<div id="tools">
  <mat-toolbar>
    <button mat-stroked-button [matMenuTriggerFor]="themeMenu">
      <mat-icon inline="true">palette</mat-icon>
    </button>
    <!--
    <button mat-stroked-button (click)="switchThemeMode()">
      <mat-icon inline="true" *ngIf="darkMode">brightness_5</mat-icon>
      <mat-icon inline="true" *ngIf="!darkMode">brightness_2</mat-icon>
    </button>
    -->
    <button mat-stroked-button [matMenuTriggerFor]="fontMenu">
      <mat-icon inline="true">tune</mat-icon>
    </button>
    <button mat-button (click)="close()">
      <mat-icon inline="true">close</mat-icon>
    </button>
  </mat-toolbar>
</div>

<mat-menu class="tools-submenu" #fontMenu="matMenu" yPosition="above">
  <button class="full-btn" mat-menu-item (click)="fontSizeChange($event)">
    <mat-icon inline="true">format_size</mat-icon>
    <span>Larger</span>
  </button>
  <button class="full-btn" mat-menu-item (click)="fontSizeDefault($event)">
    <mat-icon inline="true">format_clear</mat-icon>
    <span>Default</span>
  </button>
  <button class="full-btn" mat-menu-item (click)="fontSizeChange($event, false)">
    <mat-icon inline="true">text_fields</mat-icon>
    <span>Smaller</span>
  </button>
</mat-menu>

<mat-menu class="tools-submenu" #themeMenu="matMenu" yPosition="above">
  <button class="full-btn" mat-menu-item (click)="switchTheme($event, 'indigo')">
    <mat-icon inline="true">format_size</mat-icon>
    <span>Indigo Theme</span>
  </button>
  <button class="full-btn" mat-menu-item (click)="switchTheme($event, 'purple')">
    <mat-icon inline="true">format_clear</mat-icon>
    <span>Purple Theme</span>
  </button>
  <button class="full-btn" mat-menu-item (click)="switchThemeMode($event)">
    <mat-icon inline="true" *ngIf="data.darkMode">brightness_5</mat-icon>
    <mat-icon inline="true" *ngIf="!data.darkMode">brightness_2</mat-icon>
    <span>Switch mode</span>
  </button>
</mat-menu>
