.review {
  //border: red solid thin;
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: 1.2em;
  }
  .r {
    display: flex;

    .r-rate {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      padding: 2em 0;
      align-self: flex-start;
      position: sticky;
      top: 0;

      button {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        padding: .5em;

        span {
          font-size: .6em;
          line-height: 1em;
          opacity: .6;

          &.down {
            padding-top: .5em;
          }
          &.up {
            padding-bottom: .5em;
          }
        }
      }
    }
  }
  .r-title {
      padding: .5em 1em;
  }

  .r-author {
    display: flex;
    flex-flow: row wrap;
    font-size: .7em;
    line-height: 1.2em;

    h5 {
      flex: 1 0 auto;
      word-break: normal;
      font-size: inherit;
      padding-right: .2em;
    }
    .ra-date {
      opacity: .7;
    }
  }

  .r-entry {
    display: flex;
    flex-flow: row wrap;
    margin: 1em .1em;
  }
  .r-content {
    flex: 1 1 auto;
    //padding: .5em 0 .8em 0;
  }
  .re-title {
    width: 100%;
    text-align: left;
    padding: .5em 1em;
    border-radius: 0 1.5em 0 0;

    .re-stars {
      max-width: 6rem;
      margin-right: auto;
    }
  }
  .re-content {
    width: 100%;
    font-size: .75em;
    padding: .4em;
    border-width: .3em;
    border-top: none;
    border-radius: 0 0 0 1.5em;
  }
}
