<section class="side-c" *ngIf="chapters$ | async as chs" observeStickyFooter>
  <div class="ch" *ngFor="let ch of chs; let last = last">
    <div class="scrollTo" id="{{ ch.id }}">
      <div class="ch-title">
        <h1>Chapter {{ showChapterIndex(ch.id) }}: {{ ch.title }}</h1>
        <small class="opaque">{{ toDate(ch.createdAt) | date }}</small>
      </div>

      <div class="ch-content" [innerHTML]="ch.content"></div>
    </div>

    <!--<div class="ch-end"></div>-->

    <app-ch-separator *ngIf="!last" color="normal"></app-ch-separator>
  </div>

  <div class="toc bckg-stacked brdr-neutral mat-elevation-z5" [class.hidden]="!tocOpen">
    <app-toc *ngIf="chs[0]" [novelID]="chs[0].novel.id"></app-toc>
  </div>

  <div id="no-ch" class="end scrollTo" *ngIf="done$ | async">
    <p>No more chapters...</p>
    <p>You like this novel? Like it!</p>
    <p>Reviewed yet? Or update your review!</p>
  </div>

  <div class="sticky">
    <div class="bckg-neutral">
      <button type="button" mat-icon-button (click)="scrollToPrev()">
        <mat-icon>skip_previous</mat-icon><!-- navigate_before, skip_previous -->
      </button>
      <button type="button" mat-icon-button (click)="toggleToc()">
        <mat-icon>toc</mat-icon>
      </button>
      <!--<button type="button" mat-icon-button>
        <mat-icon>comment</mat-icon>
      </button>-->
      <button type="button" mat-icon-button (click)="scrollToNext()">
        <mat-icon>skip_next</mat-icon><!-- navigate_next, skip_next -->
      </button>
    </div>
  </div>
</section>
