:host {
  font-size: 1rem;
  line-height: 1.4em;
}

section {
  padding: 0 1em;
  position: relative;
}
.ch {
  padding: 1.5em 0 0 0;
}
.ch-title {
  margin: 0 0 2em 0;
  line-height: 1.2em;

  h1, h2 {
    margin: 0;
    padding: 0;
    text-align: left;
  }

  h1 {
    font-size: 2em;
    line-height: 1.3em;
  }
  h2 {
    font-size: .7em;
    line-height: 1.2em;
    padding-bottom: .4em;
    opacity: .7;
  }
  small {
    opacity: .7;
  }
}
.ch-content {
  font-size: 1em;
  line-height: 1.5em;
}
.ch-end {
  height: 10em;
  background: cadetblue;
  opacity: .1;
}
.sticky {
  position: sticky;
  bottom: 0;
  text-align: center;
  height: 50px;
  overflow: hidden;
  div {
    display: inline-block;
    margin: 0 auto;
    border-radius: 15px;
    padding: 5px 10px;

    &.stuck {
      border-radius: 15px 15px 0 0;
    }
  }
}

.side-c {
  //max-width: 70rem;
  //display: grid;
  grid-template-columns: 60% 40%;

  .toc {
    //padding-left: 1rem;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 25rem;
    height: 100%;
    display: none;
  }
}
.end {
  height: 85vh;
  background: chocolate;
}
