@import 'src/assets/styles/variables';

:host {
  font-size: 1rem;
  line-height: 1.4em;
}

section {
  padding: 0 1em;
  position: relative;
}
.ch {
  padding: 1.5em 0 0 0;
}
.ch-title {
  margin: 0 0 2em 0;
  line-height: 1.2em;

  h1 {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 2em;
    line-height: 1.3em;
  }
}
.ch-content {
  font-size: 1em;
  line-height: 1.5em;
}
.ch-end {
  height: 10em;
  background: cadetblue;
  opacity: .1;
}
.sticky {
  position: sticky;
  bottom: 0;
  text-align: center;
  height: 50px;
  overflow: hidden;
  div {
    display: inline-block;
    margin: 0 auto;
    border-radius: 15px;
    padding: 5px 10px;

    &.stuck {
      border-radius: 15px 15px 0 0;
    }
  }
}
.end {
  height: 85vh;
  background: chocolate;
}
.toc {
  //padding-left: 1rem;
  top: $header-height;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 25rem;
  height: 100%;
  border-top: none !important;
  border-bottom: none !important;
  border-right: none !important;
  overflow: auto;
}
