.carousel-wrapper {
   mat-tab-header {
    border: none !important;
    position: absolute;
    bottom: .3em;
    z-index: 99999;
    width: 100%;
    height: auto;
    padding: 0 0 0 0;
  }
  .mat-ink-bar {
    display: none;
  }
  .mat-tab-label {
    min-width: auto !important;
    width: 1.6em !important;
    height: auto;
    padding: 0;
  }
}
.carousel-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;

  &> * {
    overflow: hidden;
  }

  app-swipe-tab {
    > div {
      > div {

      }
    }
  }
}
