.carousel-wrapper {
  width: 100%;
  position: relative;
  line-height: 0;
  min-height: 75px;

  mat-tab-header {
    border: none !important;
    margin: 0 4em 0 4em;
    width: calc(100% - 8em);
    height: auto;
    padding: 0 0 0 0;
    position: absolute;
    bottom: .5em;
    z-index: 99999;
  }

  .mat-ink-bar {
    display: none;
  }

  .mat-tab-label {
    height: auto;
    min-width: auto !important;
    padding: 0;
  }
}
