<section>
  <h1>Browse</h1>
  <div class="g-select">
    <h2>Genres</h2>
    <app-genre-selector [(selectedGenres)]="queryConfig.genres" (selectedChange)="updateQuery()"></app-genre-selector>
  </div>
  <div class="sort-select">
    <mat-select [(value)]="queryConfig.sortField" (selectionChange)="updateQuery()">
      <mat-option value="iTitle">Title</mat-option>
      <mat-option value="createdAt">Created</mat-option>
    </mat-select>
    <button type="button" mat-icon-button (click)="toggleSortDirection()">
      <mat-icon class="{{ queryConfig.reverse ? '' : 'icon-flip-y' }}">sort</mat-icon>
    </button>
  </div>

  <div *ngIf="novels$ | async as novels; else noNovels">
    <ul *ngIf="novels.length > 0; else noNovels">
      <li *ngFor="let novelData of novels">
        <app-novel-entry [novel]="novelData"></app-novel-entry>
      </li>
    </ul>
  </div>
  <ng-template #noNovels>
    <p class="nodata">No novels found...</p>
  </ng-template>

</section>
