:host {
    font-size: 1rem;
    line-height: 1.2em;
}

h1 {
  font-size: 2em;
  padding: 1.5em 1em 0 1em;
  margin: 0 0 .5em 0;
}
.g-select {
  padding: 0 50px 1em 50px;
  h2 {
    font-size: 1.3em;
    line-height: 1em;
    margin: 0;
    padding: .5em 0 .5em .7em;
  }
}
.sort-select {
  max-width: 10em;
  margin-left: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 0 0.5em 0.5em 0.5em;
}
