:host {
  font-size: 1rem;
  line-height: 1.4em;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  line-height: 1em;
}
.d-title {
  padding: 1.5em 0;
  .d-author {
    font-size: .8em;
    margin: 0;
    line-height: 1.4em;
  }
}

mat-icon {
  vertical-align: middle;
}
.novel-details {
  margin: 1em auto 0 auto;
}
.cover {
  max-width: 11em;
  min-width: 2em;

  img {
    width: 100%;
    display: block;
    text-align: left;
  }
}

.dscr {
  overflow: hidden;
}

.glist {
  li {
    margin: 0 .4em .4em 0;
  }
  .genre {
    font-size: 0.7rem;
    line-height: 1em;
    border-radius: 0.3em;
    padding: .4em .7em;
  }
}

$actions-height: 3em;
.actions-container {

  .actions {
    padding: 1em 0 0 0;

    .mat-button-base {
      margin-left: .5em;
      &:first-child {
        margin-left: 0;
      }
      .fav {
        color: rgba($color: #ff6666, $alpha: 1.0);
      }
    }
  }
}

app-ratings {
  margin: 1em 0 0 0;
}

.tab-icon {
  margin-right: 0.2em;
}

.margin {
  padding-top: 1rem;
}

.tags {
  margin-top: 1em;
}
