:host {
  font-size: 1rem;
  line-height: 1.4em;
}
h1 {
  font-size: 1.5em;
  margin: 0;
  line-height: 1.4em;
  text-align: left;
}
.d-title {
  padding: .5em 0 1.5em 0;
  text-align: left;
}
.short-specs {
  margin-bottom: .5em;
}
mat-icon {
  vertical-align: middle;
}
.wrap {
  padding: 2em .5em 0 .5em;
}
.cover {
  max-width: 11em;
  min-width: 2em;

  img {
    width: 100%;
    display: block;
    text-align: left;
  }
}
.dscr {
  overflow: hidden;
}
.glist {
  li {
    margin: 0 .4em .4em 0;
  }
  .genre {
    font-size: 0.7rem;
    line-height: 1em;
    border-radius: 0.3em;
    padding: .4em .7em;
  }
}

$actions-height: 3em;
.actions-container {

  .actions {
    padding: 1em 0 0 0;

    .mat-button-base {
      margin-left: .5em;
      margin-bottom: .4em;
      &:first-child {
        margin-left: 0;
      }
      .fav {
        color: rgba($color: #ff6666, $alpha: 1.0);
      }
    }
  }
}
app-ratings {
  margin: 1em 0 0 0;
}
.tab-icon {
  margin-right: 0.2em;
}
.margin {
  padding-top: 1rem;
}
.tags {
  margin-top: 1em;
}
