<section class="novel-details wrapper" fxLayout="column" *ngIf="novel | async as novelData">
  <div>
    <ul class="h-list dynamic glist">
      <li *ngFor="let genre of novelData.genres"
          class="background primary genre mat-elevation-z2">
        {{ genre.name }}
      </li>
    </ul>
  </div>

  <div class="d-title">
    <h1>{{ novelData.title }}</h1>
    <span class="d-author">
      By <a class="l" routerLink="/user/{{ novelData.author.uid }}">{{ novelData.author.displayName }}</a>
    </span>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch" fxLayoutAlign.xs="start center" fxLayoutGap=".6em">

    <div class="cover" fxFlex fxLayout="column" fxLayoutAlign="start center" fxLayoutAlign.xs="start center" fxLayoutGap=".6em">
      <img alt="Novel's cover picture''" [src]="coverURL(novelData.cover, novelData.id)">
      <app-ratings [novelID]="novelData.id"></app-ratings>
    </div>

    <div class="actions-container" fxFlex fxLayout="column" fxLayoutAlign="start stretch">

      <div class="dscr">
        <div [innerHTML]="novelData.description"></div>
      </div>

      <mat-chip-list aria-label="Selected tags" disabled class="non-interactive tags">
        <mat-chip *ngFor="let tag of novelData.tags">
          {{ tag }}
        </mat-chip>
      </mat-chip-list>

      <div class="actions" fxLayout="row wrap" fxLayoutAlign="center center">

        <a  mat-raised-button
            *ngIf="{ progress: history$ | async } as his"
            routerLink="/novel/{{ novelData.id }}{{ his.progress ? '/'+his.progress.chapterID : '' }}"
            matTooltip="Read novel"
            matTooltipClass="t-closer"
            color="primary">
          <!-- visibility, send, menu_book  -->
          <mat-icon>menu_book</mat-icon>
          {{ his.progress ? 'Continue' : 'Read' }}
        </a>
        <button mat-raised-button
                (click)="toggleLibrary()"
                matTooltip="Add to library"
                matTooltipClass="t-closer"
                color="primary"
                [disabled]="busyLib"
                *ngIf="{val: islib$ | async} as data">
          <mat-icon>{{ data.val ? 'playlist_add_check' : 'playlist_add' }}</mat-icon>
          LIBRARY
        </button>
        <button mat-mini-fab
                matTooltip="Mark as favorite"
                matTooltipClass="t-closer"
                color="primary"
                [disabled]="busyFav"
                *ngIf="{state: likeState$ | async} as d"
                (click)="like(d.state)">
          <mat-icon [class.fav]="d.state && d.state.value">
            {{ d.state && d.state.value ? 'favorite' : 'favorite_border' }}
          </mat-icon>
        </button>
        <a  mat-raised-button
            routerLink="/novel/{{ novelData.id }}/review"
            matTooltip="Write a review"
            matTooltipClass="t-closer"
            color="primary">
          <mat-icon>rate_review</mat-icon>
          Review
        </a>

      </div>
    </div>

  </div>
</section>

<section style="min-height: 250px;">
  <!--<app-full-statistic></app-full-statistic>-->
  <mat-tab-group mat-stretch-tabs dynamicHeight>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">grade</mat-icon>
        <strong>Reviews</strong>
      </ng-template>
      <app-list-reviews [novelID]="novelID"></app-list-reviews>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">toc</mat-icon>
        <strong>Chapters</strong>
      </ng-template>
      <div class="toc">
        <app-toc [novelID]="novelID" pagination></app-toc>
      </div>
    </mat-tab>

  </mat-tab-group>
</section>
