<div fxLayout="column" fxLayoutAlign="start end">
  <app-display-rating [number]="nFavs" icon="favorite" tooltip="Users' favorite"></app-display-rating>
  <app-display-rating [number]="nRevs" icon="stars" tooltip="Number of reviews"></app-display-rating>
  <app-display-rating [rating]="story" icon="gesture" tooltip="Story idea and progression"></app-display-rating>
  <app-display-rating [rating]="style" icon="brush" tooltip="Author's writing style"></app-display-rating>
  <app-display-rating [rating]="chars" icon="wc" tooltip="Characters development"></app-display-rating>
  <app-display-rating [rating]="world" icon="public" tooltip="World building and immersion"></app-display-rating>
  <app-display-rating [rating]="gramm" icon="school" tooltip="Grammar and structuring"></app-display-rating>
</div>
