<h1 mat-dialog-title>Update</h1>

<div mat-dialog-content>
  <mat-form-field class="full">
    <mat-chip-list  #tagsList
                    class="non-interactive"
                    aria-label="Tags selection"
                    selectable
                    multiple
                    [formControl]="ctrl"
                    [compareWith]="compareTag">
      <mat-chip removable
                *ngFor="let tag of ctrl.value"
                [value]="tag"
                (removed)="remove(tag)">
        {{ tag }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input #tagInput
             placeholder="Tags"
             [matChipInputFor]="tagsList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             matChipInputAddOnBlur
             (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-error *ngIf="ctrl.hasError('required')">
      At least one tag is <strong>required</strong>
    </mat-error>
    <mat-hint>
      Use space, enter, comma, or semicolon as separator.
    </mat-hint>
  </mat-form-field>

</div>

<div mat-dialog-actions>
  <span fxFlex>
    <button mat-flat-button color="primary" [mat-dialog-close]="ctrl.value">Ok</button>
  </span>
  <span fxFlex="none">
    <button mat-button (click)="onNoClick()">Cancel</button>
  </span>
</div>
