// _custom.scss
@import 'custom/defaults-reset';
@import 'custom/main-wrapper';
@import 'custom/min-max-links';
@import 'custom/shortcuts';
@import 'custom/horizontal-list';
@import 'custom/vertical-list';
@import 'custom/mat-toolbar-buttons';

app-header .navbar {
  border-radius: 0 !important;
}

.mat-tooltip {
  font-size: 0.75rem;
  margin-top: .9em !important;
  &.icon {
    margin-top: .2em !important;
  }
}

.content {
  width: 75%;
  max-width: 40em;
  margin: 1em auto 1em auto;
}

.headerless-mat-tabs-group mat-tab-group mat-tab-header {
  display: none;
}
