// _custom.scss
@import 'custom/defaults-reset';
@import 'custom/main-wrapper';
@import 'custom/min-max-links';
@import 'custom/shortcuts';
@import 'custom/horizontal-list';
@import 'custom/vertical-list';
@import 'custom/mat-toolbar-buttons';
@import 'custom/tooltip';
@import 'custom/multi-ellipsis';
@import 'custom/links';
@import 'custom/sticky';
@import 'custom/minimizeBtn.directive';
@import 'custom/buttons';
@import 'variables';

app-header .navbar {
  border-radius: 0 !important;
}
.content {
  width: 75%;
  max-width: 40em;
  margin: 1em auto 1em auto;
}

.headerless-mat-tabs-group mat-tab-group mat-tab-header {
  display: none;
}

.indigo.dark .mat-stepper-horizontal, .indigo.dark .mat-stepper-vertical {
  background: inherit !important;

  .mat-vertical-stepper-header {
    padding: 15px 24px;
  }
}
.mat-paginator {
  background: inherit !important;
}

app-headbar mat-toolbar {
  height: $header-height !important;
}
