<section *ngIf="user$ | async as user">
  <app-profile-header [user]="user"></app-profile-header>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1em" id="profile-tabs">
    <app-profile-nav [navId]="user.uid" fxFlex="initial"></app-profile-nav>

    <div class="full">
      <mat-toolbar class="mat-elevation-z1">
        <span>Details</span>
        <!--<button type="button" mat-stroked-button *ngIf="me">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>-->
      </mat-toolbar>
      <div class="profile-details">
          <span class="label">Display name:</span>
          <div class="inblock" *ngIf="!editingName; else nameEditor">
            <span class="value">{{ user.displayName }}</span>
            <button type="button"
                  appBtn color="accent" label="Edit"
                  (click)="toggleEditName()">
              <app-icon>edit</app-icon>
            </button>
          </div>
          <ng-template #nameEditor>
            <input #name type="text" class="bckg-neutral brdr-primary" [value]="user.displayName">
            <button type="button" (click)="saveName(name.value)"
                    appBtn color="accent" label="Apply name change">
              <app-icon inline>done</app-icon>
            </button>
            <button type="button" (click)="toggleEditName()"
                    appBtn color="warn" label="Cancel name change">
              <app-icon inline>close</app-icon>
            </button>
          </ng-template>
        </div>
        <div class="profile-details">
          <span class="label">E-mail:</span>
          <span class="value" *ngIf="user.email">{{ user.email }}</span>
          <span class="value" *ngIf="!user.email"><i>&lt;Not set&gt;</i></span>
        </div>
        <!--<div class="profile-details" *ngIf="user.phoneNumber || me">
          <span class="label">Phone number:</span>
          <span class="value" *ngIf="user.phoneNumber">{{ user.phoneNumber }}</span>
          <span class="value" *ngIf="!user.phoneNumber"><i>&lt;Not set&gt;</i></span>
        </div>-->
    </div>
    <!--<div>
      <mat-toolbar class="mat-elevation-z1">
        <span>Achievements</span>
      </mat-toolbar>
      <div>
        <ul>
          <li>Fictions</li>
          <li>Reviews</li>
          <li>Favorites</li>
          <li>Achievements</li>
          <li>Reputation:
            <ul>
              <li>Reader: lvl 1</li>
              <li>Author: lvl 2</li>
              <li>Reviewer: lvl 1</li>
              <li>Commenter: lvl 15</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>-->
  </div>
</section>
